@import url("./fonts.css");
@import url("./reset.css");

body {
  font-family: "Helvetica Neue", sans-serif;
  font-family: "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
/* deniz-header-started*/
.header {
  width: 100%;
}

.header__announcement {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #000000;
  text-align: center;
  padding: 10px 0;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.header__logo img {
  width: 30px;
  height: 19px;
}

.header__nav-links {
  list-style: none;
  display: flex;
  gap: 80px;
}

.header__nav-links li a {
  color: #848895;
  text-decoration: none;
  font-size: 18px;
}
/* deniz-header-finished*/
/* Genel Ayarlar */

/* Banner Section */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/banner-back.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.banner-text h1 {
  margin-bottom: 20px;
  max-width: 600px;
  font-size: 32px;
  font-weight: 350;
  text-align: center;
}

.banner-start-building-btn {
  width: 175px;
  height: 50px;
  background: linear-gradient(99deg, #8c01fa -2.99%, #000 102.28%);
  color: white;
  border: 1px solid #000;
  border-radius: 36px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
}

.banner-start-building-btn:hover {
  background: linear-gradient(99deg, #8c01fa -10%, #000 120%);
}
@media screen and (max-width: 768px) {
  .banner-text h1 {
    font-size: 24px;
  }

  .banner-start-building-btn {
    width: 100px; 
    height: 35px; 
    font-size: 14px; 
  }
}

@media screen and (max-width: 480px) {
  .banner-text h1 {
    font-size: 18px; 
  }

  .banner-start-building-btn {
    
    font-size: 12px; 
  }
}
/* Banner Section */
