@import url("./fonts.css");
@import url("./reset.css");




body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: black;
  
}
/* BEYZANURMETE-HERO-SECTİON-START */
.hero {
  position: relative;
  z-index: -1;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: 
  url("../images/right.jpg") left top no-repeat,  
  url("../images/left.jpg") right top no-repeat; 
background-size: contain; 
margin-top: -54px;


}

.hero h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 75.6px;
  letter-spacing: 0.68px;
  margin-bottom: 10px;
}

.hero p {
  text-align: center;
  font-family: Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-button {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 36px;
  font-size: 1rem;
  font-weight: 00;
  transition: all 0.3s ease;
  text-align: center;
}

.start-building-btn {
  border: 1px solid #000;
  background: linear-gradient(99deg, #8C01FA -2.99%, #000 102.28%);
  color: #FFF;
}

.start-building-btn:hover {
  background: linear-gradient(99deg, #8C01FA -10%, #000 120%);
  border-color: #8C01FA;
}

.read-docs-btn {
  border: 1px solid #FFF;
  background: #000;
  color: #FFF;
}

.read-docs-btn:hover {
  background: #FFF;
  color: #000;
  border-color: #000;
}
/* BEYZANURMETE-HERO-SECTİON-END */
